body {
  margin: 0 auto;
  width: 960px;
  display: block;
}

header {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  height: 16px;
  margin: 12px 0;
  display: block;
}

body div.section {
/*  background: blue;*/
/*  clear: both;*/
}

div.clearer {
  clear: both;
}

div.fake-screenshot {
/*  background:none repeat scroll 0 0 #445544;*/
  height:200px;
  width:300px;
}

div#about {
  margin-top: 24px;
}

div#projects {
  margin-bottom: 24px;
}

div#projects div {
  text-align: center;
  outline: 1px solid #ddd;
}

div#projects div div.fake-screenshot {
  margin: 0 auto;
}

span.with {
  font-size: 87%;
}

div#projects div small {
/*  float: right;*/
  display: block;
}

div#pulled {
}

div#pulled ul li {
  list-style:none outside none;
  margin: 5px 0;
}