@import "reset";

// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body * { // avoid FontBoosting - patrickcatanzariti.com/2013/03/font-boosting
	max-height: 1000000em;
}

// fonts
@font-face {
  font-family: Prociono;
  src: url('../fonts/Prociono-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Prociono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Prociono-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Prociono-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Prociono-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  font-family: Prociono, serif; 
}

body {
	color: #222;
	background: #fff;
	font-size: 16px;
}

section {
	max-width: 480px;
	padding: 16px;
}

p {
	line-height: 1.5em;
	margin: 0 0 0.75em 0;
}

p:last-child {
	margin-bottom: 0;
}

b {
	font-weight: normal;
	padding: 0 1px;
	background: #f0f0f0;
	// border-bottom: 1px dotted black;
}

a {
	text-decoration: none;
	color: #22d;
}

a:hover {
	text-decoration: underline;
}


#stu {
	position: fixed;
	width: 00px;
	z-index: -1;
	right: 0;
	bottom: 0;
}

#weird {
 div {
		width: 100px;
		height: 100px;
		position: absolute;
		right: 40px;
		bottom: 40px;
		// background-blend-mode: darken;
		mix-blend-mode: darken;
		border-radius: 64px;
	}

	#a {
		background-color: rgba(255, 0, 0, 1);
		right: 60px;
		bottom: 50px;
	}
	#b {
		background-color: rgba(0, 255, 0, 1);
		right: 24px;
		bottom: 50px;
	}
	#c {
		background-color: rgba(0, 0, 255, 1);
		right: 42px;
		bottom: 20px;
	}
}


#projects {
	line-height: 1.8em;

	a {
		margin-right: 4px;
	}
}

