* {
	margin: 0;
	font-family: Helvetica, Verdana, Sans-Serif;
}

body {
	background: #fff;
	position: relative;
}

div#header {
	z-index: 1;
	position: absolute;
	top: 8px;
	left: 8px;
	width: 50%;
	line-height: 0.9em;
}

h1 {
	padding: 0;
	font-size: 14px;
}

#header a {
	font-size: 11px;
	color: #3F58C0;
	text-decoration: none;
}


body.dark p {
	color: #999;
}
p {
	margin-top: 24px;
	font-size: 12px;
	margin-bottom: 8px;
}

#Flag-0 rect,
#Flag-1 rect,
#Flag-2 rect,
#Flag-3 rect {
	opacity: 0;
}

#Big-G {
  fill: #444;
}

text {
	color
}

#fakezoom {
	width: 330px;
	height: 660px;
	position: absolute;
/* 	background:red; */
	opacity: 1;
	left: 154px;
	top: 130px;
	z-index: 1;
}

svg {
}

#Rectangle-1 {
}

#wc {
	position: relative;
	width: 640px;
}


body.dark #Calendar rect#Rectangle-57 {
	fill: black;
}

#ui {
	z-index: 10;
	position: absolute;
	text-align: right;
	top: 14px;
	left: 100px;
	right: 8px;
	font-size: 11px;
	color: #555;
}

#ui label {
	background: #f7f7f7;
	padding: 6px 8px;
}

#ui input {
	position: relative;
	top: 1px;
}

body.dark #ui label {
	color: #888;
		background: #222;
}

body.dark h1 {
	color: #aaa;
}

option {
	font-size: 11px;
}

image {
	opacity: 0.9;
}

body.dark {
	background: black;
}

#Team-0, #Team-1, #Team-2, #Team-3 {
	-webkit-font-smoothing: antialiased;
}

body.dark g#Page-1 > #Rectangle-1 {
	fill-opacity: 1;
	fill: #111;
}

body.dark #Big-G {
	fill: #333;	
}


polygon {
/* 	fill: #888; */
}

body.dark polygon {
	fill: #555;
}


body.dark path#Line-21,
body.dark path#Line-20,
body.dark path#Line-19, 
body.dark path#Line-18,
body.dark path#Line-17,
body.dark path#Line-16, 
body.dark path#Line-15,
body.dark path#Line-14,
body.dark path#Line-13, 
body.dark path#Line-12, 
body.dark path#Line-11,
body.dark path#Line-10, 
body.dark path#Line-9, 
body.dark path#Line-8, 
body.dark path#Line-7, 
body.dark path#Line-6, 
body.dark path#Line-5, 
body.dark path#Line,
body.dark path#Line-4, 
body.dark path#Line-3, 
body.dark path#Line-2, 
body.dark path#Line-1 {
	stroke: #555;
}

body.dark text#World-Cup-2014-Plann tspan {
	fill: #fff;
}
text#World-Cup-2014-Plann tspan {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
}