<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>{{page.title}} - sturob</title>
 
  <!-- <link id="main_styles" rel="stylesheet" href="less/main.css" type="text/css"> -->
  
  <link id="styles" rel="stylesheet" href="/assets/css/base.css">

  <link rel="icon" href="/favicon.ico" type="image/ico">


  <script src="http://use.edgefonts.net/volkhov.js"></script>

<!--   <meta name="title" content="">
  <meta name="description" content="">
  <link rel="" href="">
 -->

  <script src="/base/js/dev.js"></script>
  <script src="/base/js/lib/underscore.js"></script>
  <!-- // <script src="/base/js/lib/jquery.js"></script> -->


  <script type="text/javascript">
    setTimeout(function() {
      setInterval(less.refresh, 999)  
    }, 5000);
    
  </script>

</head>

<body>
  <div id="wrap"><!-- footer sticker -->


    <div id="main">
      {{ content }}
    </div>

    <div id="push"></div>
  </div><!-- end #wrap -->

  <div id="footer" style="clear: both">
    <div id="nav">
      <a href="/">Home</a>
      <a href="/projects/">Projects</a>
  <!--     <a href="/writing/">Witterings</a> -->
      <a href="/experiments/">Experiments</a>
      <a href="/elsewhere/">Elsewhere</a>
    </div>
    &copy; 2013 Stuart Robinson

  </div>
</body>

</html>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"> </script> 
<script type="text/javascript"> 
  _uacct = "UA-1333551-1";
  urchinTracker();
</script>