

path {
	opacity: 0.8;
	padding: 4px;
	fill: none;
  stroke-width: 2px;
  z-index: 1;
  
  -webkit-filter: drop-shadow( -5px -5px 5px #000 );
          filter: drop-shadow( -5px -5px 5px #000 ); /* Same syntax as box-shadow */

}

path:hover {
	// stroke: blue;
	position: relative;
	z-index: 1000;
	opacity: 1;
}

body {
	// background: #FF0;
}