@import "../../../../base/less/_reset";
@import "../../../../base/less/_utils";


body {
	font-family: Geneva, Serif;
	background: #FFF;
}


svg {
	// background: #505050;
  background: #bbb;

  path.domain {
  	stroke-width: 1px;
  	fill: none;
  }

	path.line {
		opacity: 0.45;
		fill: none;
	  stroke-width: 10px;
	  // stroke: black;
	  // fill: black;
	  // -webkit-filter: drop-shadow( 5px 5px 5px #000 );
	          // filter: drop-shadow( -5px -5px 5px #000 ); /* Same syntax as box-shadow */
	}


	.guidelines {
		line {
			shape-rendering:crispEdges;
			stroke: white;
			stroke-width: 1;
			opacity: 0.25;
		}
		
	}

	path:hover {
		// stroke-width: 5px;
		position: relative;
		z-index: 1000;
		opacity: 1;
	}

	text.team-name {
		fill: #fff;
		// text-shadow: 1px 1px 1px #000;
		// opacity: 0.5;
		font-size: 10px;
		letter-spacing: 1px;
		font-weight: bold;
		background: #FFF;
	}

	.axis {
		font-size: 10px;
		font-weight: normal;
		stroke-width: 0.5px;
		stroke: #333;
	}
}

